# Игнорируем все файлы и папки
*

# Исключаем папку static из игнорирования
!static/

# В папке static не игнорируем указанные форматы
!static/**/*.js
!static/**/*.css
!static/**/*.webp
!static/**/*.png
!static/**/*.jpeg
!static/**/*.jpg
!static/**/*.svg
!static/**/*.gif
!static/**/*.fig

# Следим только за .py, .md и .txt файлами в корне и подкаталогах
!*.py
!*.md
!*.txt
!*.html
!**/*.py
!**/*.md
!**/*.txt
