# Игнорируем все файлы и папки


# Исключаем ниже указанные папки из игнорирования
!server/
!server/static/
!server/wgo/

# В ниже указанных папках не игнорируем указанные форматы
!server/*.html
!server/static/**/*.js
!server/static/**/*.css
!server/static/**/*.webp
!server/static/**/*.png
!server/static/**/*.jpeg
!server/static/**/*.jpg
!server/static/**/*.svg
!server/static/**/*.gif
!server/static/**/*.fig

# Следим только за .py, .md и .txt файлами в корне и подкаталогах
!*.py
!*.md
!*.txt
!**/*.py
!**/*.md
!**/*.txt
