# Игнорируем все файлы и папки
*

# Исключаем ниже указанные папки из игнорирования
!static/
!static/**
!models_parameters/
!models_parameters/**

# В ниже указанных папках не игнорируем указанные форматы
!*.html
!static/**/*.html
!static/**/*.js
!static/**/*.css
!static/**/*.webp
!static/**/*.png
!static/**/*.jpeg
!static/**/*.jpg
!static/**/*.svg
!static/**/*.gif
!static/**/*.fig
!static/**/*.ico
!static/**/*.webmanifest
!models_parameters/**/*.pt

# Следим только за .py, .md и .txt файлами в корне и подкаталогах
!*.py
!*.md
!*.txt
!**/*.py
!**/*.md
!**/*.txt