input{
    display: none;
}

body{
    background-image: url("Godzilla_cut_transparent.png");
    background-repeat: no-repeat;
    background-position: 50vh 0vw;
    background-color: lightgrey;
}

.navi{
    position: absolute;
    display: grid;
    grid-template-rows: 10vh repeat(4, 1fr) 3fr 1fr;
    row-gap: 10px;
    background-color: black;
    height: 100vh;
    top: 0px;
    left: 0px;
    width: 20vw;
}

.navi > .navi-head-wrapper{
    background-color: rgb(122, 122, 122);
}

.navi > .navi-head-wrapper > .navi-head{
    margin-left: 7vw;
    color: white;
}

.navi > .navi-head-wrapper > .navi-head > span{
    color: black;
}

button.navi-button{
    margin: 10px;
    background-color: rgb(122, 122, 122);
    border-radius: 20px;
}

.main-msg{
    position: absolute;
    top: 63vh;
    left: 35vw;
}

#uploadButton{
    position: relative;
    top: 73vh;
    left: 40vw;
}

#open-man-button{
    background-color: black;
    color: white;
    position: relative;
    top: 73vh;
    left: 50vw;
}

