/* ГЛАВНАЯ */
    /* Заменяемая часть контента */
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 0.5fr 0.2fr;
        background-repeat: no-repeat;
        background-position: top;
        justify-content: center;
        background-color: lightgrey;
        position: relative;
    }
    /* Годзиллы */
    #img_GOD {
            grid-column: span 2;
            width: 55%; 
            margin: auto;
    }
    /* Меню навигации */
    .navi {
        display: grid;
        grid-column: 1; 
        grid-template-rows: max(10vh, 50px) 2vh max(8vh) max(8vh) max(10vh) max(8vh) max(6vh) max(8vh) max(6vh) max(8vh) max(10vh) max(10vh);
        background-color: white;
    }
    /* Область надписи "Годзилла" */
    .navi > .navi-head-wrapper {
        display: flex;
        justify-content: center;
        background-color: rgb(122, 122, 122);
    }
    
    /* Сама надпись Годзилла */
    .navi-head {
        color: white;
    }
    .navi-head > span {
        color: black;
    }
    
    /* Бургер меню, которое видно на маленьком экране */
    .menu-toggle {
        display: none;
        position: absolute;
        top: 10px;
        left: 10px;
        background: none;
        border: none;
        font-size: 24px;
        color: black;
        cursor: pointer;
        z-index: 101;
    }

    /* Кнопки навигации */
    button.navi-button {
        margin: 10px 20px 20px 10px;
        background-color: rgb(122, 122, 122);
        border-radius: 15px;
        color: white;
    }
    
    /* Надпись "Добро пожаловать */
    .main-head {
            grid-column: span 2; 
            text-align: center;
            margin: 20px 0;
    }

    .main-head2
    {
            grid-column: span 2; 
            text-align: center;
            margin: 10px 0;
    }

    /* Кнопка загрузки видео на главном экране*/
    #upload-button {
        height: 80%;
        width: 50%;
        position: relative;
        grid-column: span 2;
        margin: auto;
    }

        /* Кнопка загрузки видео на главном экране*/
        #area {
            height: 60vh;
            grid-column: span 2;
            margin: auto;
        }

    #strelka {
        text-align: center;
        visibility: hidden;
        color: black;
    }

    #cut-video-button {
        background-color: rgb(122, 122, 122);
        visibility: hidden;
    }
    
    #area-video-button {
        visibility: hidden;
    }

    #result-video-button {
        visibility: hidden;
    }


    /* Кнопка загрузки видео на главном экране*/
    #cut-button {
        display: none;
        height: 80%;
        width: 50%;
        position: relative;
        grid-column: span 2;
        margin: auto;
    }

    /* Для кнопки загрузки видео */
    input {
        display: none;
    }
    
    /* Кнопка открытия справки на главном экране */
    #open-man-button {
        background-color: black;
        color: white;
        height: 80%;
        width: 50%;
        grid-column: 2;
        position: relative;
        margin: auto;
    }

    /* Гифка загрузки */
    #loading-gif {
        display: none;
        width: 50px;
        height: 50px;
        margin: auto;
        grid-column: 1 / span 2;
        justify-self: center;
        align-self: center;
    }
    
        /* Адаптация для мобильных устройств */
        @media (max-width: 768px)
    {
            body{
        display: grid;
        grid-template-columns: 1fr;
        margin: 0px;
        }
            .main {
            display: grid;
            grid-template-columns: 207px 207px;
            align-items: center;
            justify-content: center;
            height: 100vh; 
            padding: 0;
            margin: 0;
        }
    
        .main-head {
            grid-column: span 2; 
            text-align: center;
            font-size: xx-large;
            margin: 20px 0;
        }
    
        #img_GOD {
            width: 70%; 
            object-fit: cover; 
            grid-column: span 2; 
        }
        
        .menu-toggle {
            display: block;
        }
    
        .navi {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            transform: translateX(-100%);
        }
    
        .navi.show {
            z-index: 5;
            transform: translateX(0);
        }
    
        #upload-button{
        position: relative;
        height: 60%;
        width: 70%;
        }
    
        #open-man-button{
            background-color: black;
            color: white;
            height: 60%;
            width: 70%;
            margin: 0px 19px 30px 20px;
            position: relative;
        }
    }

/* ОБРЕЗКА ВИДЕО */

    /* Контейнер видео */
    .video-player-container {
        height: 60vh;
        grid-column: span 2;
        margin: auto;
    }
    /* Само видео в контейнере */
    .video-player {
        height: 100%;
        border: 2px solid black;
        border-radius: 8px;
    }
    /* "На главную" */
    .return-button {
    height: 80%;
    width: 50%;
    position: relative;
    grid-column: 2;
    margin: auto;
    }

    /* Перейти на "Выделение игровой доски" после обрезки */
    .ret-button {
        background-color: black;
    color: white;
    height: 80%;
    width: 50%;
    grid-column: 1;
    position: relative;
    margin: auto;
    }
    /* Контейнер со слайдером */
    .slider-container {
        grid-column: span 2;
        margin: auto;
        width: 70%;
    }
    /* Сам слайдер */
    #video-slider {
        width: 80%;
        margin: 0% 5% 2% 10%;
    }

            /* Отображение времени начала и конца на "Обрезка видео" */
    .time-display {
        display: flex;
        justify-content: space-between;
        margin: 10px 5%;
        font-size: 14px;
        color: black;
    }
    /* Текст на "Обрезка видео" */
    .time-display span {
        font-weight: bold;
    }

    
    #container {
        position: relative;
        grid-column: span 2; /* Прямоугольник на всю ширину */
        display: inline-block;
        margin: auto;
        
    }

    #image {
        width: 100%;
    }

    #video0 {
        width: 1200px;
        max-width: 1800px;
        display: block;
        /* margin: 5px; */
    }

    #rectangle {
        position: absolute;
        border: 2px solid red;
        cursor: move;
        width: 200px;
        height: 150px;
        top: 50px;
        left: 50px;
    }
    
    .resizer {
        width: 10px;
        height: 10px;
        background-color: red;
        position: absolute;
        right: 0;
        bottom: 0;
        cursor: se-resize;
    }

    #saveButton {
    background-color: black;
    color: white;
    height: 80%;
    width: 50%;
    grid-column: 2;
    position: relative;
    margin: auto;
    }

    .cut-button-obrezka {
        background-color: white;
        color: black;
        height: 80%;
        width: 50%;
        grid-column: 1;
        position: relative;
        margin: auto;
    }

    /* Основное тело (с меню выбора) */
    body {
        display: grid;
        grid-template-columns: 0.8fr 3fr;
        margin: 0px;
        min-height: 100vh;
    }
    
 /* Основной контейнер для каждой секции */
 .section {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    gap: 20px; /* Отступ между изображением и текстом */
    margin-bottom: 40px;
}

/* Стили для изображений */
.section img {
    height: 300px; /* Высота изображений */
    flex-shrink: 0; /* Запрещаем уменьшать изображение */
}

/* Текстовые блоки */
.section-text {
    flex: 1; /* Занимает всё оставшееся пространство */
}

    